<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css"></link>
    <title>Student Records</title>
</head>
<body>
<div class="container">
    <main>
        <h1>We Can Code IT Student Records</h1>
        <figure>
            <img src="/images/data.jpeg" alt="" />
        </figure>
        <section>
            <button>
                <a th:href="@{/students}">See Records</a>
            </button>
        </section>
    </main>
    <footer>
        <small>&copy; wecancodeit 2021</small>
    </footer>
</div>
</body>
</html>